:root {
  --FS: clamp(1.25rem, 2vh, 2rem);
  --BG-COLOR: rgb(199, 175, 113);
  --TXT-COLOR: rgb(26, 11, 8);
  --LINK-COLOR: wheat;
  --HEADER-COLOR: black;
  --PRODUCT-HEAD: rgb(226, 213, 187);
  --PRODUCT-HEAD-TXT: rgb(28, 27, 25);
  --PRODUCT-COLOR: black;
  --PRODUCT-TXT: rgb(182, 160, 119);
  --FOOTER-COLOR: rgb(50, 34, 5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --BG-COLOR: rgb(37, 32, 24);
    --TXT-COLOR: rgb(228, 221, 209);
    --PRODUCT-HEAD: rgb(28, 27, 25);
    --PRODUCT-HEAD-TXT: wheat;
    --PRODUCT-COLOR: rgb(182, 160, 119);
    --PRODUCT-TXT: black;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--BG-COLOR);
  color: var(--TXT-COLOR);
  font-size: var(--FS);
}

header {
  width: 100vw;
  position: fixed;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--HEADER-COLOR);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 150px;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar ul li {
  padding: 0 10px;
}

.nav-bar a {
  color: var(--LINK-COLOR);
}

.hero {
  padding-top: 10rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  display: inline-block;
  padding: 0.5rem;
}

iframe {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
}

.register {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 4rem 1.5rem;
}

.register input {
  max-width: 300px;
  width: 100%;
  padding: 5px;
  margin: 10px 5px;
}

.features {
  padding: 2rem 1rem;
  text-align: center;
  margin: 4rem 0;
}

.features .desc {
  padding-top: 1rem;
}

.hero-special {
  border: 2px solid var(--LINK-COLOR);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 8rem 0;
}

.hero-special h2 {
  padding-bottom: 1rem;
}

.product-pricing {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-hero {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  border: 1px solid var(--LINK-COLOR);
  border-radius: 3px;
  background-color: var(--PRODUCT-COLOR);
  color: var(--PRODUCT-TXT);
}

.product-hero .tier {
  background-color: var(--PRODUCT-HEAD);
  color: var(--PRODUCT-HEAD-TXT);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product-hero h2 {
  margin: 20px;
}

.product-hero ol {
  margin: 10px 0;
}

.product-hero li {
  padding: 5px 0;
}

.product-hero button {
  width: 100%;
  max-width: 150px;
  padding: 5px;
  margin: 10px 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-top: 1rem;
  background-color: var(--FOOTER-COLOR);
}

.footer ul{
  display: flex;
}

.footer ul li{
  margin: 0 .5rem;
}

.footer a{
  color: var(--LINK-COLOR);;
}


@media screen and (max-width: 650px) {
  header {
    flex-wrap: wrap;
  }

  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 20px;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 860px) {
  .product-pricing {
    flex-direction: row;
  }

  .product-hero {
    max-width: 250px;
    width: calc(100% / 3);
    margin: 0 auto;
  }
}
