:root {
  --FS: clamp(1.25rem, 2vh, 2rem);
  --BG-COLOR: rgb(210, 196, 163);
  --TXT-COLOR: rgb(26, 11, 8);
  --LINK-COLOR: wheat;
  --HEADER-COLOR: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --BG-COLOR: rgb(29, 28, 28);
    --TXT-COLOR: rgb(228, 221, 209);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--BG-COLOR);
  color: var(--TXT-COLOR);
  font-size: var(--FS);
}

header {
  width: 100vw;
  position: fixed;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--HEADER-COLOR);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 150px;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar ul li {
  padding: 0 10px;
}

.nav-bar a {
  color: var(--LINK-COLOR);
}

.hero {
  padding-top: 10rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  display: inline-block;
  padding: 0.5rem;
}

iframe {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
}

.register {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 5rem 1.5rem;
}

.register input {
  max-width: 300px;
  width: 100%;
  padding: 5px;
  margin: 10px 5px;
}

.features {
  padding: 5rem 1rem;
  text-align: center;
}

.features .desc {
  padding-top: 1rem;
}

.hero-special {
  border: 2px solid var(--LINK-COLOR);
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-special h2 {
  padding-bottom: 1rem;
}

@media screen and (max-width: 650px) {
  header {
    flex-wrap: wrap;
  }

  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 20px;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }
}
/* @media screen and (min-width: 810px) {


  .logo {
    margin-top: 0px;
    width: 100%;
    justify-content: center;
  }
} */
